<div class="row">
    <div class="col-6">
        <h1>*ngIf</h1>
        <hr>
        <div *ngIf="mostrar" class="card w-100" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{frase.mensaje}}</h5>
                <p class="card-text">{{frase.autor}}</p>
            </div>
        </div>
        <button (click) = "mostrar = !mostrar" class="btn btn-outline-primary mt-3 btn-block">Mostrar/Ocultar</button>
    </div>
    <div class="col-6">
        <h1>*ngFor</h1>
        <hr>
        <ul class="list-group">
            <li *ngFor="let personaje of personajes, let i = index" class="list-group-item">
                {{i+1}}-{{ personaje }}
            </li>
        </ul>
    </div>
</div>